@import "../vendor/keyframes.css";

.kaufman{
background-color: black;
overflow: hidden;
position:relative;
padding-top: 90px;
padding-bottom: 90px;
display:flex;
flex-direction:column;
align-items:center;
}

.kaufman__triangle{
position:absolute;
top:0px;
right:-124px;
width: 636px;
height: 660px;
animation: rotate 20s linear infinite;
}