.khan{
padding-top: 105px;
background-color: #2F80ED;
background-color: #F2F2F2;
}

.khan__container{
width:80%;
margin:0 auto;
flex-direction: column;
display: flex;
justify-content: left;
}

.khan__author{
line-height:42px;
font-size: 30px;
font-weight: normal;
}

.khan__title{
line-height:1.15;
font-size: 60px;
font-weight: bold;
margin:0px;
}

.khan__quote{
width: 790px;
margin:50px 0 36px;
line-height:34px;
font-size: 24px;
font-weight: normal;
}

.khan__quote-author{
line-height:1.15;
font-size: 24px;
font-weight: bold;
margin:0px;
}

.khan_quote-autor-subline{
margin:10px 0 68px;
line-height:1.15;
font-size: 24px;
font-weight: normal; 
}

.khan__book-container{
display:flex;
overflow: hidden;
height:140px;
}

.khan__book-pic{
height:620px;
margin-right: 48px;
}
/* "se encaixa bem no design do livro porque não é exibido corretamente." Não consegui entender a solicitação de alteração no elemento.  */
.khan__buy-link{
line-height:42px;
font-size: 30px;
font-weight: normal;
color:#2F80ED;
text-decoration: none;
}