@import "../blocks/cards.css";
@import "../blocks/description.css";
@import "../blocks/digits.css";
@import "../blocks/feynman.css";
@import "../blocks/footer.css";
@import "../blocks/header.css";
@import "../blocks/kaufman.css";
@import "../blocks/khan.css";
@import "../blocks/logo.css";
@import "../blocks/oakley.css";
@import "../blocks/rotation.css";
@import "../blocks/resources.css";
@import "../blocks/section-title.css";
@import "../blocks/section-subtitle.css";
@import "../blocks/table.css";
@import "../blocks/techniques.css";
@import "../blocks/two-columns.css";
@import "../blocks/video.css";
@import "../vendor/fonts/";




.page {
min-width: 1100px;
/* we don't know how to make mobile versions of websites yet, */
/* so here we've set a minimum page width */
max-width: 1600px;
/* here we've set a maximum page width */
margin: 0 auto;
/* this ensures that all content is centered on screens wider than 1600px */
font-family:'Helvetica Neue', Arial, sans-serif;
}
