@import "../blocks/header.css";
@import "./normalize.css";

@keyframes rotate{
  from{
    rotate:0deg;
  }
  to{
    rotate:360deg;
  }
}
.page {
  min-width: 1100px;
  /* we don't know how to make mobile versions of websites yet, */
  /* so here we've set a minimum page width */
  max-width: 1600px;
  /* here we've set a maximum page width */
  margin: 0 auto;
  /* this ensures that all content is centered on screens wider than 1600px */
  font-family:'Helvetica Neue', Arial, sans-serif;
}
  .logo_place_header{
  width: 154px;
  height: 31px;
  position:absolute;
  top:30px;
  left:64px;
  }
 
/* here we have two examples of selectors in order to remind you how to set styles for elements */

/* including elements with key-value modifiers */

.description{
  padding-top: 100px;
  padding-bottom: 100px;
  display:flex;
  justify-content:center;

}

.two-columns{
  display: flex;
  justify-content:space-between;
  width:80%;
}

.two-columns__brief{
  color:#2F80ED;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin:0;
  width:175px;
}

.two-columns__main_text{
  display:flex;
  flex-direction: column;
  gap:30px;
  width: 80%;
  min-width: 784px;
  }

.two-columns__paragraph_span-accent{
  line-height: 34px;
  font-size: 24px;
  font-weight: bold;
}

.two-columns__paragraph {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin:0;
}

.digits{
  display:flex;
  flex-direction: column;
  align-items:center;
  padding-bottom: 100px;
}

.section-title{
  width: 60%;
  text-align: center;
  line-height: 1.15;
  font-size: 60px;
  margin:0 0 20px;
  font-weight: bold;
}
.section-subtitle{
  width: 60%;
  text-align: center;
  margin:0;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.table{
  width:1100px;
  display:flex;
  flex-wrap:wrap;
  row-gap: 60px;
  justify-content: space-between;
  margin:60px 0 0;
}

.table__cell{
  width:250px;
  list-style:none;
}

.table__heading{
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  margin:0;
}

.table__text{
  margin:20px 0 0 0;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.feynman{
  height:790px;
  display:flex;
  flex-direction: column;
  align-items: center;
  position:relative;
  padding-top:100px;
  background-color: #F2F2F2;
}

.feynman__picture{
  position:absolute;
  bottom:0px;
  left:0px;
  width:867px;
  height: 637px;
  z-index: 0;
}

.feynman__title{
  width:775px;
  margin: 0;
  text-align: center;
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
  z-index: 1;
}
.feynman__subtitle{
  margin:  70px 0 0;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  z-index: 1;
  margin-top: 70px;
}

.feynman__link{
  position:absolute;
  right:48px;
  top:50%;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  color:#2F80ED;
  margin-left: 48px;
  text-decoration: none;
}

.cards{
  direction:flex;
  flex-direction: row;
  width:920px;
  margin:0 auto;
  background-color: black;
}

.cards__item{
  background-color: rgb(178, 116, 35);
  max-width:max-content;
}

.cards__image{
margin: 60px 40px 43px 40px;
width:160px;
height:160px;
border-radius: 160px;
background-color: blanchedalmond;
}

.cards__title{
  width:220px;
  background-color: blue;

}

.cards__description{
background-color: red;
width:220px;
}

.kaufman{
  background-color: black;
  overflow: hidden;
  position:relative;
  padding-top: 90px;
  padding-bottom: 90px;
  display:flex;
  flex-direction:column;
  align-items:center;
}

.section-title_theme_dark{
  color:white;
  z-index:1;
}

.section-subtitle_theme_dark{
  color:white;
  z-index: 1;
}

.table_theme_dark{
  margin-top: 80px;
  row-gap: 80px;
}

.table__cell_theme_dark{
  width:200px;
  z-index: 2;
}

.table__heading_theme_dark{
  color:#F2F2F2;
}

.table__text_theme_dark{
  color:#F2F2F2;
}

.kaufman__triangle{
  position:absolute;
  top:0px;
  right:-124px;
  width: 636px;
  height: 660px;
}

.footer{
  min-height: 350px;
  background-color: black;
  display:flex;
  justify-content:center;
  padding-top:60px;
  padding-bottom: 40px;
  box-sizing:border-box;
}

.footer__columns{
  width:90%;
  display:flex;
  justify-content: space-between;
}

.footer__column{
  display:flex;
  flex-direction: column;
}
.footer__column_content_copyright{
  flex-basis:711px;
  justify-content:space-between;
}

.logo__place_footer {
  width:183px;
  height:35px;
}  

.footer__column_content_about{
row-gap:20px;

}

.footer__column_content_social{
  row-gap:20px;
}

.logo_place_footer{
  width:185px;
  height:35px;
}
/*a imagem não está proporcional*/

.footer__author{
  margin:18px 0 18px 0;
  line-height:30px;
  font-size: 18px;
  font-weight: normal;
  color:#F2F2F2;
  }

.footer__column-heading{
  padding:0;
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
  color:#F2F2F2;
}

.footer__list{
  padding:0px;
  list-style-type: none;
}

.footer__column-link{
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  text-decoration: underline;
  color:#F2F2F2;
}

.footer__social-icons{
  width: 16px;
  height: 16px;
  margin-right:10px;
}

